<ul>
    <li>
        <b>4th National Girls’ Programming Contest (NGPC) 2019</b>
        <ul class="list-right"><li>
            Daffodil University, Dhaka
        </li></ul>
    </li>
    <li>
        <b>3 rd National Girls’ Programming Contest (NGPC) 2018</b>
        <ul class="list-right"><li>
            Daffodil University, Dhaka
        </li></ul>
    </li>
    <li>
        <span class="badge badge-success">Best 2k15 Team</span>
        <b>Intra KUET Programming Contest 2019</b>, April, 2019
        <ul class="list-right"><li>
            KUET, Khulna
        </li></ul>
        <ul style="font-size: medium"><li>
            Among 80+ teams
        </li></ul>
    </li>
    <li>
        <b>Grace Hoppers Girls’ Programming Camp 2017</b>
        <ul class="list-right"><li>
            KUET, Khulna
        </li></ul>
    </li>
    <li>
        <b>Ada Lovelace Programming Contest 2018</b>
        <ul class="list-right"><li>
            Bangladesh Open Source Network (BdOSN)
        </li></ul>
    </li>
    <li>
        <b>National Girls’ Programming Contest (NGPC)</b>
        <ul class="list-right"><li>
            Preliminary Round 2019
        </li></ul>
    </li>
    <li>
        <b>Google Cloud Next'18 Bangladesh</b>
        <ul class="list-right"><li>
            Asia Pacific University, Dhaka
        </li></ul>
    </li>
    <li>
        <b>Second Round of Channel i Search for Innovators</b>
        <ul class="list-right"><li>
            Season 2 organized by A2I, Dhaka
        </li></ul>
    </li>
    <li>
        <b>ACM ICPC Dhaka Online Preliminary Round</b>
    </li>
    <li>
        <span class="badge badge-primary">ACM ICPC</span> <a href="https://icpc.baylor.edu/ICPCID/0J67MCPA7R8D" target="_blank">Dhaka Online Preliminary Contest</a>.
        <ul>
            <li>
                <b>2020: </b><span class="badge badge-success">201<sup>st</sup></span> out of 1805 national teams.
            </li>
            <li>
                <b>2019: </b><span class="badge badge-success">Mone Nai<sup>th</sup></span> out of 1788 national teams.
            </li>
            <li>
                <b>2018: </b><span class="badge badge-success">Mone Nai<sup>th</sup></span> out of 1604 national teams.
            </li>
            <li>
                <b>2017: </b><span class="badge badge-success">1109<sup>th</sup></span> out of 1454 national teams.
            </li>
        </ul>
    </li>
    <li>
        <span class="badge badge-success">500+</span>
        Problems solved in Codeforces, Uva Online Judge and several other Competitive Programming websites.
    </li>
</ul>
