<ul>
    <li>
        <span class="badge badge-primary">ACM ICPC</span> <a href="https://icpc.baylor.edu/ICPCID/0J67MCPA7R8D" target="_blank">Dhaka Online Preliminary Contest</a>.
        <ul>
            <li>
                <b>2020: </b><span class="badge badge-success">201<sup>st</sup></span> out of 1805 national teams.
            </li>
            <li>
                <b>2019: </b><span class="badge badge-success">Mone Nai<sup>th</sup></span> out of 1788 national teams.
            </li>
            <li>
                <b>2018: </b><span class="badge badge-success">Mone Nai<sup>th</sup></span> out of 1604 national teams.
            </li>
            <li>
                <b>2017: </b><span class="badge badge-success">1109<sup>th</sup></span> out of 1454 national teams.
            </li>
        </ul>
    </li>
    <li>
        <span class="badge badge-success">Best 2k15 Team</span>
        <a target="_blank" href="#">Intra KUET Programming Contest 2019</a>,
        KUET, Khulna
        <ul class="list-right"><li>
            April, 2019
        </li></ul>
        <ul style="font-size: medium"><li>
            Among 80+ teams
        </li></ul>
    </li>
    <li>
        <span class="badge badge-success">500+</span>
        Problems solved in Codeforces, Uva Online Judge and several other Competitive Programming websites.
    </li>
</ul>
