<ul>
    <li>
        <ul class="list-right"><li>
            Currently under Private repository
        </li></ul>
        <b>VISION IT</b>
        <p>
            A smart stick for the blind victims which will vibrate intensely if any obstacles come through and also can detect objects and recognize known persons with a GPS tracking locator.<br>
            <b>Technologies:</b> TensorFlow, OpenCV, Face recognition, Django, SQLite <br>
        </p>
    </li>
    <li>
        <ul class="list-right"><li>
            <a target="_blank" href="http://www.github.com/Prapti-044/Bangla-or-Banglish-or-EnglishSentiment-Analysis-with-English-translation"><b>GitHub</b></a>
        </li></ul>
        <b>Bangla + Bangla Phonetics + English Sentiment Analysis with English Translation from Prothom Alo</b>
        <p>
            Automatically scrap Bengali text from Prothom Alo website and apply sentiment analysis. <br>
            <b>Technologies:</b> Spider web scrapper, NLTK, TextBlob, PyQt<br>
        </p>
    </li>
    <li>
        <ul class="list-right"><li>
            <a target="_blank" href="http://www.github.com/Prapti-044/Best-bidders-website"><b>GitHub</b></a>
        </li></ul>
        <b>Best Bidders Website</b>
        <p>
            An online bidding website. Users can post what they want to sell, interested buyers will bid on the product until a selling time.<br>
            <b>Technologies:</b> ASP.NET, Ajax, JQuery<br>
        </p>
    </li>
    <li>
        <ul class="list-right"><li>
            <a target="_blank" href="http://www.github.com/Prapti-044/Best-bidders-website"><b>GitHub</b></a>
        </li></ul>
        <b>Compiler Project</b>
        <p>
            A self-made Bangla programming language compile.<br>
            <b>Technologies:</b> C++, Bison, Flex<br>
        </p>
    </li>
    <li>
        <ul class="list-right"><li>
            <a target="_blank" href="http://www.github.com/Prapti-044/Electronic-Store-Database-Management-System-Project"><b>GitHub</b></a>
        </li></ul>
        <b>Electronic Store Database Management System Project</b>
        <p>
            A Database Management System for Electronic Store. <br>
            <b>Technologies:</b> Oracle Database, PL/SQL<br>
        </p>
    </li>
    <li>
        <ul class="list-right"><li>
            <a target="_blank" href="http://www.github.com/Prapti-044/Messenger-App-for-IOS"><b>GitHub</b></a>
        </li></ul>
        <b>IOS Messenger App</b>
        <p>
            A text messaging app for IOS platform.<br>
            <b>Technologies:</b> Swift, XCode<br>
        </p>
    </li>
</ul>
