{% extends 'base.html' %}
{% load static %}

{% block title %}Shadmaan Hye{% endblock title %}

{% block content %}
{% with 'prapti' as relatedto %}

    <!-- Home Section -->
    {% include 'home.html' with name='Shadmaan Hye' expertise='Machine Learning, Artificial Intelligence, Computer Vision, Image Processing' profile_pic='prapti/profile.png' cvlink="prapti/cv.pdf" github='prapti-044' linkedin='prapti' stackoverflow='prapti' medium='prapti' %}

    <!-- Biography Section -->
    {% include 'bio.html' with cvlink='prapti/cv.pdf' %}

    <!-- Publications Section -->
    {% include 'publications.html' with orcid='https://orcid.org/0000-0002-9713-8457' scholar='https://scholar.google.com/citations?hl=en&user=u2Af4ycAAAAJ' scopus='scopus' researchgate='https://www.researchgate.net/profile/Shadmaan_Hye' %}

    <!-- Academic Awards Section -->
    {% include 'academic-award.html' %}

    <!-- Achievements Section -->
    {% include 'achievements.html' %}

    <!-- Programming Contest Section -->
    {% include 'programming.html' %}

    <!-- Leaderships Section -->
    {% include 'leadership.html' %}

    <!-- Courses Section -->
    {% include 'courses.html' %}

    <!-- Language Section -->
    {% include 'language.html' %}

    <!-- Random Links Section -->
    {% include 'prapti/links.html' %}

    <!-- Medium Posts Section -->
    {% include 'medium.html' %}

    <!-- Contact Section -->
    {% include 'prapti/contact.html' %}

{% endwith %}
{% endblock content %}