<section id="achievements">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <b class="noshow" style="display:none;">
                    <button class="btn btn-default btn-lg btn-block"  style="display: block; width: 100%;" onclick="$('#tab-achievements-content').toggle();">Achievements</button>
                </b>
                <div class="allshow" style="display:none;" id="tab-achievements-content">

                    <hr>
                    <h2>Achievements</h2>
                    <h4><span class="badge badge-dark">International</span></h4>
                    <ul>
                        <li>
                            <span class="badge badge-success">4th</span>
                            <a target="_blank" href="#">IEEE YESIST12 Maker Fair</a>,
                            Stamford International University, Bangkok,
                            <span class="badge badge-primary">Thailand</span>
                            <ul class="list-right"><li>
                                September, 2019
                            </li></ul>
                            <ul style="font-size: medium"><li>
                                Among 70 teams from 20 countries.
                            </li></ul>
                        </li>
                        <li>
                            <span class="badge badge-success">Special Award</span>
                            <a target="_blank" href="#">Code Samurai Hackathon 2019</a>,
                            Dhaka University, Dhaka
                            <ul class="list-right"><li>
                                November, 2019
                            </li></ul>
                            <ul style="font-size: medium"><li>
                                Among 297 national teams.
                            </li></ul>
                        </li>
                        <li>
                            <span class="badge badge-secondary">2nd Runners up</span>
                            <a target="_blank" href="#">Code Samurai Hackathon 2019</a>,
                            Dhaka University, Dhaka
                            <ul class="list-right"><li>
                                November, 2019
                            </li></ul>
                            <ul style="font-size: medium"><li>
                                Among 297 national teams.
                            </li></ul>
                        </li>
                    </ul>


                    <h4><span class="badge badge-dark">National</span></h4>
                    <ul>
                        <li>
                            <span class="badge badge-warning">Runners up</span>
                            <a target="_blank" href="#">Datathon, Technovation 2.0</a>,
                            North South University, Dhaka
                            <ul class="list-right"><li>
                                December, 2019
                            </li></ul>
                            <ul style="font-size: medium"><li>
                                First Datathon in Bangladesh.
                            </li><li>
                                Among 50+ national teams.
                            </li></ul>
                        </li>
                        <li>
                            <span class="badge badge-success">Champion</span>
                            <a target="_blank" href="#">Student to Startup 2019</a>,
                            Dhaka
                            <ul class="list-right"><li>
                                October, 2019
                            </li></ul>
                            <ul style="font-size: medium"><li>
                                Awarded Bangabandhu Grant worth of BDT 1000000 for startup project.
                            </li></ul>
                        </li>
                        <li>
                            <span class="badge badge-success">Champion</span>
                            <a target="_blank" href="#">Ignition 2: Project Competition</a>,
                            KUET, Khulna
                            <ul class="list-right"><li>
                                September, 2019
                            </li></ul>
                            <ul style="font-size: medium"><li>
                                National Mechanical Fest. Became champion in project showcasing segment among 14 teams.
                            </li></ul>
                        </li>
                        <li>
                            <span class="badge badge-success">Champion</span>
                            <a target="_blank" href="#">YESIST12 on-Campus Selection</a>,
                            KUET, Khulna
                            <ul class="list-right"><li>
                                August, 2019
                            </li></ul>
                            <ul style="font-size: medium"><li>
                                Among 5 teams
                            </li></ul>
                        </li>
                        {% if relatedto == 'rahat' %}
                            <li>
                                <span class="badge badge-success">Champion</span>
                                <a target="_blank" href="#">SS12 Macro Innovation Regional Selection</a>,
                                KUET, Khulna
                                <ul class="list-right"><li>
                                    August, 2018
                                </li></ul>
                                <ul style="font-size: medium"><li>
                                    Among 25+ teams
                                </li></ul>
                            </li>
                        {% endif %}
                        <li>
                            <span class="badge badge-success">Champion</span>
                            <a target="_blank" href="#">University Day Project Show 2019</a>,
                            KUET, Khulna
                            <ul class="list-right"><li>
                                August, 2018
                            </li></ul>
                        </li>
                        {% if relatedto == 'rahat' %}
                            <li>
                                <span class="badge badge-warning">Runners Up</span>
                                <a target="_blank" href="#">HULT Prize Campus Round</a>,
                                KUET, Khulna
                                <ul class="list-right"><li>
                                    2018
                                </li></ul>
                                <ul style="font-size: medium"><li>
                                    Among 20+ teams
                                </li></ul>
                            </li>
                        {% endif %}
                        <li>
                            <span class="badge badge-warning">Runners Up</span>
                            <a target="_blank" href="#">University Day Poster Presentation 2019</a>,
                            KUET, Khulna
                            <ul class="list-right"><li>
                                August, 2019
                            </li></ul>
                            <ul style="font-size: medium"><li>
                                Among 25+ teams
                            </li></ul>
                        </li>
                        <li>
                            <span class="badge badge-warning">Runners Up</span>
                            <a target="_blank" href="#">ULAB EEE Fest Poster Presentation</a>,
                            University of Liberal Arts, Dhaka
                            <ul class="list-right"><li>
                                September, 2019
                            </li></ul>
                            <ul style="font-size: medium"><li>
                                Among 20+ teams
                            </li></ul>
                        </li>
                    </ul>

                    {% if relatedto == 'rahat' %}
                        <h4><span class="badge badge-dark">Others</span></h4>
                        <ul>
                            <li>
                                <span class="badge badge-success">Best Project Award</span>
                                <a target="_blank" href="#">Fablab Workshop</a>,
                                KUET, Khulna
                                <ul class="list-right"><li>
                                    2017
                                </li></ul>
                                <ul style="font-size: medium"><li>
                                    Developed Smile detection camera in raspberry pi.
                                </li><li>
                                    Among 8 teams attending the workshop.
                                </li></ul>
                            </li>
                            <li>
                                <span class="badge badge-success">Champion</span>
                                <a target="_blank" href="#">Intra University Math Olympiad</a>,
                                KUET, Khulna
                                <ul class="list-right"><li>
                                    March, 2016
                                </li></ul>
                                <ul style="font-size: medium"><li>
                                    Among 60+ teams.
                                </li></ul>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
