{% load static %}
<section id="intro">
    <div class="container">
        <div class="row">
            <div style="text-align: left; margin-top:10px" class="col-md-12">
                <!--<h2>Welcome!</h2>-->

                <b class="noshow" style="display:none;">
                    <button class="btn btn-default btn-lg btn-block" style="display: block; width: 100%;" onclick="$('#tab-intro-content').toggle();">Introduction</button>
                </b>

                <div class="allshow" style="display:none;" id="tab-intro-content">
                    <hr>

                    <p>
                        {{ bio }}
                    </p>
                    <a target="_blank" href="{% static '' %}{{ relatedto }}/cv.pdf" class="btn-sm btn-primary">CV (PDF)&raquo;</a>
                </div>
            </div>
        </div>
    </div>
</section>
