<section id="leadership">
    <div class="container">
        <div class="row">
            <div style="text-align: left; margin-top:10px" class="col-md-12">
                <b class="noshow" style="display:none;">
                    <button class="btn btn-default btn-lg btn-block"  style="display: block; width: 100%;" onclick="$('#tab-leadership-content').toggle();">Leadership Activities</button>
                </b>
                <div class="allshow" style="display:none;" id="tab-leadership-content">

                    <hr>
                    <h2>Leadership Activities</h2>
                    <ul>
                        <li>
                            <span class="badge badge-secondary">Mentored</span> 5 Workshops on Basic Electronic Building Blocks, American Corner, Northern University, Khulna
                            <ul class="list-right"><li>
                                2018
                            </li></ul>
                            <ul><li>
                                Managed 5 workshops for students of several schools and colleges to attract them towards electronics and computer science. Organized by American Corner, Khulna with assistance of American Embassy
                            </li></ul>
                        </li>
                        <li>
                            <span class="badge badge-warning">Volunteered</span> NHSPC
                            <ul class="list-right"><li>
                                2017
                            </li></ul>
                            <ul><li>
                                Helped organizing National High School Programming Contest, 2017.
                            </li></ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
