<section id="participations">
    <div class="container">
        <div class="row">
            <div style="text-align: left; margin-top:10px" class="col-md-12">
                <b class="noshow" style="display:none;">
                    <button class="btn btn-default btn-lg btn-block"  style="display: block; width: 100%;" onclick="$('#tab-participations-content').toggle();">Special Participations</button>
                </b>
                <div class="allshow" style="display:none;" id="tab-participations-content">
                    <hr>
                    <h2>Special Participations</h2>
                    <ul>
                        <li>
                            <a target="_blank" href="#">Google Cloud Next'18 Bangladesh</a>,
                            Asia Pacific University, Dhaka
                            <ul class="list-right"><li>
                                April, 2018
                            </li></ul>
                        </li>
                        <li>
                            <a target="_blank" href="#">Round 2 of Channel i Search for Innovators, Season 2</a>,
                            A2I and Channel i, Dhaka
                            <ul class="list-right"><li>
                                2019
                            </li></ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
